@model TrabalhoTcc.Models.Servico

@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <div>
        <h4>Serviço</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duracao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duracao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", "Funcionarios", new { id = Model.Id }, new { @class="fa fa-pencil btn btn-outline-success"})
        @Html.ActionLink(" Lista de Serviços", "Index", "Funcionarios", new { @class="fa fa-arrow-circle-left btn btn-outline-primary"})
    </p>
</div>