@model IEnumerable<TrabalhoTcc.Models.Servico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <h2>Consulta de Serviços</h2>

    <p>
        @Html.ActionLink("Novo Serviço", "Cadastrar", "Servicos", new { @class = "btn btn-outline-success float right mr-2" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink(" Editar", "Editar", "Servicos", new { id = item.Id }, new { @class = "fa fa-pencil btn btn-outline-dark" })
                    @Html.ActionLink(" Detalhes", "Detalhes", "Servicos", new { id = item.Id }, new { @class = "fa fa-file btn btn-outline-warning" })
                    @Html.ActionLink(" Deletar", "Deletar", "Servicos", new { id = item.Id }, new { @class = "fa fa-trash btn btn-outline-danger" })
                </td>
            </tr>
        }

    </table>
</div>