@model TrabalhoTcc.Models.Conta.LoginFuncionario
@{

    Layout = "/Views/Shared/Master.cshtml";
}
@section styles{
    <link href="~/Content/css/style.css" rel="stylesheet" />
}
<div class="container mt-3 mb-3">

    <div class="row">

        <!--Parte de baixo = Cadastro de cliente-->
        <div class="col-md-12 mt-5">

            <h1 class="text-center">Área Restrita</h1>
            <h3 class="text-center">Informe seu Usuário e Senha</h3>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
            @using (Html.BeginForm("Login", "ContaFuncionario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="campo-usuario">Usuário:</label>
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="campo-senha">Senha:</label>
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })

                    <a class="pull-right" href="/ContaFuncionario/EsqueciMinhaSenha">
                        <b>Esqueceu sua senha?</b>
                    </a>
                </div>
                <hr />
                <div class="text-center">

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block" name="btnEnviar" id="btnEnviar">
                            Entrar
                        </button>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-4"></div>
    </div>
</div>