@model IEnumerable<TrabalhoTcc.Models.Caixa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <h2 class="text-center">Histórico do Caixa:</h2>
    <div class="col-md-12" style="width:100%;overflow:auto; max-height:400px;">


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayName("Descrição do Agendamento:")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorTotal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Divida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FormaPagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataPagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            Cliente: @Html.DisplayFor(modelItem => item.Agendamento.Cliente.Nome)<br>
                            Horário de Inicio: @Html.DisplayFor(modelItem => item.Agendamento.DataHoraInicio)<br>          
                            Funcionário: @Html.DisplayFor(modelItem => item.Agendamento.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Divida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaPagamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataPagamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink(" Editar", "Editar", new { id = item.Id }, new { @class = "fa fa-pencil btn btn-outline-dark" })
                            @Html.ActionLink(" Deletar", "Deletar", new { id = item.Id }, new { @class = "fa fa-trash btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

