@model IEnumerable<TrabalhoTcc.Models.Caixa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}
@section styles{
    <link href="~/Content/datatables.net/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.net/buttons.dataTables.min.css" rel="stylesheet" />
}
<h3 class="text-center">Histórico do Caixa:</h3>

<a href="@Url.Action("ExportExcel")" class="btn btn-outline-success">
    <span class="fa fa-download "></span> Exportar para Excel
</a>

<div class="x_panel table-responsive">
    <table class="table table-striped" id="tableCaixa" number-per-page="5" current-page="0">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Descrição do Agendamento:")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorPago)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Divida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormaPagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        Cliente: @Html.DisplayFor(modelItem => item.Agendamento.Cliente.Nome)<br>
                        Horário de Inicio: @Html.DisplayFor(modelItem => item.Agendamento.DataHoraInicio)<br>
                        Funcionário: @Html.DisplayFor(modelItem => item.Agendamento.Funcionario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPago)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Divida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormaPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Editar", new { id = item.Id }, new { @class = "fa fa-pencil btn btn-dark" })
                        @Html.ActionLink(" ", "Deletar", new { id = item.Id }, new { @class = "fa fa-trash btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>

</div>

@section scripts{

    <script src="~/Content/datatables.net/jquery.dataTables.min.js"></script>

    <script src="~/Content/datatables.net/dataTables.buttons.min.js"></script>
    <script src="~/Content/datatables.net/buttons.flash.min.js"></script>
    <script src="~/Content/datatables.net/buttons.html5.min.js"></script>
    <script src="~/Content/datatables.net/buttons.print.min.js"></script>

    <script src="~/Scripts/historico/index.js"></script>

}
