@model IEnumerable<SisHair.FuncionarioContext.Application.ViewModels.FuncionarioViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">Funcionários:</h3>

<a href="@Url.Action("Cadastrar")" class="btn btn-success">
    <span class="fas fa-plus"></span> Funcionário
</a>
<a href="@Url.Action("ExportExcel")" class="btn btn-outline-success">
    <span class="fas fa-download"></span> Exportar para Excel
</a>

<div class="table table-responsive">
    <table class="table table-striped" id="tableFuncionarios">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cargo.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistroFuncionarioAtivo)
                </th>
                <th>Ações:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <input type="hidden" id="Id" namw="Id" value="@item.Id" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistroFuncionarioAtivo )
                    </td>
                    <td>
                        <a href="@Url.Action("Atualizar", "Funcionario", new { id = item.Id })">
                            <span class="fas fa-edit fa-2x"></span>
                        </a>
                        <a href="@Url.Action("Remover", "Funcionario", new { id = item.Id })">
                            <span class="fas fa-trash fa-2x"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cargo.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistroFuncionarioAtivo )
                </th>
                <th>Ações:</th>
            </tr>
        </tfoot>
    </table>

</div>
@section scripts
{
    <script src="~/js/funcionario/endereco/index.js"></script>
}
