@model SisHair.Presentation.Web.MVC.Old.Models.Cargo

@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="x_panel">
    <div>
        <h4>Detalhes:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.RegistroCargoAtivo)
            </dd>

        </dl>
    </div>
    <p class="float-left ml-3">
        <a href="@Url.Action("Editar", new { id = Model.Id })" class="btn btn-success">
            <span class="fa fa-pencil"></span> Editar
        </a>
        <a href="@Url.Action("Index", new { id = Model.Id })" class="btn btn-outline-dark">
            <span class="fa fa-arrow-circle-left"></span> Lista de Cargos
        </a>
        @*@if (Model.RegistroCargoAtivo == false)
        {
            <a href="@Url.Action("RecuperarRegistro", new { id = Model.Id })" class="btn btn-outline-white">
            <span class="fa fa-arrow-circle-left"></span> Lista de Cargos
            </a>
        }*@
    </p>

</div>