@model IEnumerable<SisHair.Presentation.Web.MVC.Old.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}
@section styles{
    <link href="~/Content/datatables.net/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.net/buttons.dataTables.min.css" rel="stylesheet" />
}
<h3 class="text-center">Clientes:</h3>

<a href="@Url.Action("Cadastrar")" class="btn btn-success">
    <span class="fa fa-plus "></span> Cliente
</a>
<a href="@Url.Action("ExportExcel")" class="btn btn-outline-success">
    <span class="fa fa-download "></span> Exportar para Excel
</a>

<div class="x_panel table-responsive">

    <table class="table table-striped" id="tableCliente" number-per-page="5" current-page="0">
        <thead class="thead-dark">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_nascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>Ações: </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <input type="hidden" id="Id" namw="Id" value="@item.Id" />
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Editar", "Cliente", new { id = item.Id }, new { @class = "fa fa-pencil btn btn-dark" })

                        @Html.ActionLink(" ", "Deletar", "Cliente", new { id = item.Id }, new { @class = "fa fa-trash btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_nascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>Ações:</th>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts{

    <script src="~/Content/datatables.net/jquery.dataTables.min.js"></script>

    <script src="~/Content/datatables.net/dataTables.buttons.min.js"></script>
    <script src="~/Content/datatables.net/buttons.flash.min.js"></script>
    <script src="~/Content/datatables.net/buttons.html5.min.js"></script>
    <script src="~/Content/datatables.net/buttons.print.min.js"></script>

    <script src="~/Scripts/cliente/table/index.js"></script>

}
