@model IEnumerable<TrabalhoTcc.Models.Solicitacao>

@{
    ViewBag.Title = "Solicitacoes";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">

    <h2 class="text-center">Solicitações de agendamento:</h2>
    <div class="col-md-12" style="width:100%;overflow:auto; max-height:400px;">


        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayName("Cliente:")
                    </th>
                    <th>
                        @Html.DisplayName("Funcionário:")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHoraInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataHoraFinal)
                    </th>
                    <th>
                        @Html.DisplayName("Serviços:")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Situacao)
                    </th>
                    <th>Ações:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Servicos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </td>
                        <td>
                            @*@Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |*@
                            @Html.ActionLink(" Deletar", "CancelarSolicitacao", new { id = item.Id }, new { @class = "fa fa-trash btn btn-outline-danger" }) |
                            @Html.ActionLink(" Agendar", "SalvarSolicitacao", new { id = item.Id }, new { @class = "fa fa-save btn btn-outline-success" })
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>