@model IEnumerable<TrabalhoTcc.Models.Solicitacao>

@{
    ViewBag.Title = "Solicitacoes";
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">

    <h2 class="text-center">Solicitações de agendamento:</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Funcionario.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataHoraInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataHoraFinal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>Ações:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHoraInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataHoraFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @*@Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |*@
                        @Html.ActionLink(" Deletar", "CancelarSolicitacao", new { id = item.Id }, new { @class = "fa fa-trash btn btn-outline-danger" }) |
                        @Html.ActionLink(" Agendar", "SalvarSolicitacao", new { id = item.Id }, new { @class = "fa fa-save btn btn-outline-success" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>