@model TrabalhoTcc.Models.Cargo
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="x_panel">
    @*<h3>Deseja realmente deletar esse registro?</h3>*@
    @if(Model.RegistroCargoAtivo == true)
    {
        <h3>Deseja deletar o registro ou inativar-lo ?</h3>
        <h4>Caso delete o registro, não poderá ser mais recuperado</h4>
        <h5>Caso inative-o, pode o reativar depois futuramente</h5>
        
    }
    else
    {
        <h3>Deseja deletar o registro ou reativar-lo?</h3>
        <h4>Caso delete o registro, não poderá ser mais recuperado</h4>
        <h5>Caso reative, o Cargo voltará ser listado como um cargo existente</h5>
        
    }
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    @if (Model.RegistroCargoAtivo == true)
                    {
                        using (Html.BeginForm("InativarRegistro", "Cargos", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-actions no-color">
                                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-power-off"></i> Inativar Registro</button>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AtivarRegistro", "Cargos", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div>
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-redo">Reativar Registro</i></button>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-10">
                    @using (Html.BeginForm(""))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Deletar</button>
                            <a href="@Url.Action("Index")" class="btn btn-outline-dark">
                                <span class="fa fa-arrow-circle-left"></span> Lista de Cargos
                            </a>
                        </div>

                    }
                </div>

            </div>
        </div>
    </div>
</div>