@model TrabalhoTcc.Models.Cargo
@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <h3>Deseja realmente delegar esse registro?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-default" /> |
                @Html.ActionLink("Lista de Cargos", "Index")
            </div>
        }
    </div>
</div>