@model TrabalhoTcc.Models.Cargo

@{
    Layout = "~/Views/Shared/MasterAdiministrador.cshtml";
}

<div class="offset-2">
    <div>
        <h4>Cargo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
        @Html.ActionLink("Lista de Cargos", "Index")
    </p>
</div>